// ------------------------------------------------------------------
// Colors
// ------------------------------------------------------------------
$color-background: #EDEDED;
$color-font: rgba(0,0,0,0.8);

$color-modal: rgba(0,0,0,0.4);
$color-modal-background: #FFF;
// ------------------------------------------------------------------
// Sizes
// ------------------------------------------------------------------
$size-browser-default: 16px;
$size-body: (10px / $size-browser-default) * 1em;
$size-h1: (30px / 10px) *1em;
